*{
    box-sizing: border-box;
}
body{ 
       margin: 0;
    background-color: #eee;
}
section{
    height: 100vh;
    background-color: coral;
}
section span{
    margin: 0;
    text-align: center;
    line-height: 1;
    display: block;
    font-weight: 700;
    font-size: 300%;
    padding-top: calc(50vh - 20pt );
}