*{
    margin: 0;
    padding: 0;
  }
  .nav-background{
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
  }
  .nav-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    font-family: sans-serif;
    margin: 0 auto;
  }
  .nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-logo{
    color: #444;
    text-decoration: none;
  }
  .nav-logo:hover{
    color: #666;
  }
  .nav-ul{
    display: flex;
    max-width: 700px;
  }
  .nav-ul > li{
    display: flex;
  
  }
  .nav-link{
  flex: 1;
  color: #444;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 500ms linear;
  padding: 1rem 1.5rem;
  flex-basis: auto;
  }
  .nav-link:hover{
    background-color: #f1f1f1;
  }
  .Activ-link{
    background-color: #f1f1f1;
  
  }